.wbdv-sticky-top {
    color: white;
    position: fixed;
    width: 100%;
    background-color: #3366ff;
    z-index: 1;
}

.row.topbar {
    padding:1%;
    background-color: #ccd9ff;
}

.row.yesterday {
    padding:1%;
    background-color: #ccd9ff;
}

.navbar.navbar-dark.bg-primary {
    color: white;
}

.navbar.navbar-light.bg-light {
    padding-inline: 10%;
    width: 100%;
}
